.project-card {
  background-color: var(--card-bg);
  color: var(--text-color);
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  border: 1px solid #007bff2a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0, 123, 255, 0.3);
  }

  h2 {
    margin-top: 0;
    color: #00bfff;
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    line-height: 1.6;
  }

  .links {
    margin-top: 1rem;

    a,
    button {
      display: inline-block;
      margin-right: 1rem;
      background: none;
      border: none;
      color: #00bfff;
      font-weight: bold;
      cursor: pointer;
      padding: 0;
      font-size: 1rem;
      transition: color 0.3s ease;

      &:hover {
        color: #66ccff;
        text-decoration: underline;
      }
    }
  }

  /* Modal básico */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      background-color: var(--card-bg);
      padding: 1rem;
      border-radius: 10px;
      max-width: 90%;
      max-height: 90%;
      overflow: auto;
      position: relative;

      .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
        color: #f70202;
        cursor: pointer;
        background: none;
        border: none;
      }

      .image-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          flex: 1 1 300px;
        }
      }
    }
  }
}
